.movies-list {
  display: flex;
  justify-content: center;
}

.movies-list__container {
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  padding: 80px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movies-list__list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 24px;
  row-gap: 37px;
  list-style: none;
}

.movies-list__load {
  margin: 60px 0 0;
  width: 320px;
  height: 36px;
  text-align: center;
  border: 2px solid var(--color-gray-e8);
  border-radius: 8px;
  background-color: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  transition: border 0.4s;
}

.movies-list__load:hover {
  border: 2px solid var(--color-green);
}

@media screen and (max-width: 1279px) {
  .movies-list__list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
  }
}

@media screen and (max-width: 1023px) {
  .movies-list__container {
    padding: 80px 30px;
  }
  .movies-list__load {
    margin: 80px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .movies-list__container {
    padding: 50px 14px 80px;
  }
  .movies-list__list {
    grid-template-columns: 1fr;
    row-gap: 14px;
  }
  .movies-list__load {
    margin: 76px 0 0;
    width: 240px;
    height: 36px;
  }
}
