.profile {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.profile__content {
  padding: 74px 0 70px;
  flex: auto;
  max-width: 410px;
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile__data-container {
  display: flex;
  flex-direction: column;
  gap: 123px;
  width: 100%;
}

.profile__title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.profile__data-pair {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 17px 0 16px;
  border-bottom: 1px solid var(--color-gray-e8);
}

.profile__data-pair:first-of-type {
  padding-top: 0;
}
.profile__data-pair:last-of-type {
  border: none;
}

.profile__data-title {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__data-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.profile__button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.profile__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: fit-content;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  transition: opacity 0.4s;
}

.profile__button:hover {
  opacity: 0.5;
}

.profile__button_type_logout {
  font-weight: 500;
  color: var(--color-red);
}

@media screen and (max-width: 1023px) {
  .profile__content {
    padding: 0;
    justify-content: center;
  }
  .profile__data-container {
    gap: 96px;
    padding-bottom: 210px;
  }
}

@media screen and (max-width: 767px) {
  .profile__content {
    box-sizing: border-box;
    padding: 70px 30px 40px;
    justify-content: space-between;
  }
  .profile__data-container {
    gap: 80px;
    padding-bottom: 0;
  }
}
