.account-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  padding: 3px;
  border-radius: 40px;
  box-shadow: var(--shadow-small);
  transition: background-color 0.4s;
  text-decoration: none;
}

.account-link:hover {
  background-color: var(--color-green);
  opacity: 1;
}

.account-link__text {
  margin: 0;
  padding-left: 7px;
  font-weight: 500;
  font-size: 13px;
  line-height: 0.92;
  color: black;
}

.account-link__image-container {
  background-color: var(--color-gray-f9);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
