.switch {
  display: flex;
  flex-direction: row;
}

.switch__label {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  line-height: 1.5;
  cursor: pointer;
}

.switch__input {
  opacity: 0;
  width: 1px;
  height: 1px;
  margin-right: -1px;
}

.switch__input:focus-visible + .switch__label {
  outline: 2px groove var(--color-green);
}

.switch__slider {
  position: relative;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  background-color: var(--color-gray-text);
  transition: 0.4s;
}

.switch__slider::before {
  content: '';
  background-color: white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.4s;
}

.switch__input:checked + .switch__label .switch__slider {
  background-color: var(--color-green);
}

.switch__input:checked + .switch__label .switch__slider::before {
  transform: translateX(16px);
}

@media screen and (max-width: 767px) {
  .switch {
    font-size: 11px;
    line-height: 1.64;
  }
}
