.about-me {
  display: flex;
  justify-content: center;
}

.about-me__container {
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  padding: 110px 70px 105px;
}

.about-me__description-container {
  display: flex;
  flex-direction: row;
  gap: 270px;
  margin: 66px 0 100px;
}

.about-me__description-column {
  display: flex;
  flex-direction: column;
}

.about-me__name {
  margin: 0 0 18px;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  letter-spacing: -0.04em;
}

.about-me__job {
  margin: 0 0 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
}

.about-me__description {
  max-width: 600px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  margin: 0;
}

.about-me__github {
  color: black;
  margin-top: auto;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  transition: opacity 0.4s;
  width: fit-content;
}

.about-me__github:hover {
  opacity: 0.5;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  object-fit: cover;
  border-radius: 10px;
}

.about-me__portfolio-title {
  color: var(--color-gray-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  margin: 0 0 30px;
}

.about-me__portfolio-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.about-me__project-item {
  border-bottom: 1px solid var(--color-gray-e8);
}

.about-me__project-item:last-of-type {
  border: none;
}

.about-me__project-link {
  margin: 20px 0 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: -0.04em;
  color: black;
  text-decoration: none;
  transition: opacity 0.4s;
}

.about-me__project-link:hover {
  opacity: 0.5;
}

.about-me__project-name {
  margin: 0;
}

.about-me__project-arrow {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .about-me__container {
    padding: 90px 50px 70px;
  }
  .about-me__description-container {
    gap: 50px;
    margin: 66px 0 90px;
  }
  .about-me__name {
    margin: 0 0 16px;
    font-size: 40px;
    line-height: 1;
  }
  .about-me__job {
    margin: 0 0 20px;
    font-size: 12px;
    line-height: 1.5;
  }
  .about-me__photo {
    width: 255px;
    height: 307px;
  }
  .about-me__description {
    font-size: 12px;
    line-height: 1.5;
  }
  .about-me__project-link {
    font-size: 28px;
    line-height: 1.79;
  }
}

@media screen and (max-width: 767px) {
  .about-me__container {
    padding: 70px 14px 50px;
  }
  .about-me__description-container {
    margin: 60px 0 70px;
    flex-direction: column-reverse;
    gap: 40px;
  }
  .about-me__photo {
    width: 292px;
    height: 352px;
  }
  .about-me__name {
    margin: 0 0 20px;
    font-size: 30px;
    line-height: 36px;
  }
  .about-me__job {
    font-size: 11px;
    line-height: 1.45;
  }
  .about-me__description {
    font-size: 11px;
    line-height: 1.45;
    margin: 0 0 40px;
  }
  .about-me__portfolio-title {
    font-size: 14px;
    line-height: 1.43;
    margin: 0 0 21px;
  }
  .about-me__project-link {
    font-size: 18px;
    line-height: 1.56;
  }
}
